 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-image-1 {
  width: 168px;
  height: 168px;
  animation-timing-function: ease-in;
  margin: 50px auto 0 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  margin: -168px auto 0 206px;
}

.u-section-1 .u-image-2 {
  width: 168px;
  height: 224px;
  margin: 112px auto 0 30px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  margin: -224px auto 60px 206px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 155px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 98px;
  }
}@font-face {
  font-family: 'hzlabfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/hzlabfont.ttf);
}
@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(-40px);
  }
  75% {
      transform: translateY(-20px);
  }
}

@keyframes squish {
  0%, 100% {
      transform: scaleY(1);
  }
  50% {
      transform: scaleY(0.8);
  }
}

.jumping-image {
  animation: jump 1s cubic-bezier(0.5, 0.05, 0.1, 0.95) infinite, squish 1s cubic-bezier(0.5, 0.05, 0.1, 0.95) infinite;
  transform-origin: center bottom;
}
