.u-section-1 {
  background-image: none;
  min-height: 306px;
}

.u-section-1 .u-group-1 {
  width: 660px;
  height: auto;
  background-image: none;
  min-height: 124px;
  margin: 58px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 418px;
  height: 84px;
  margin: 18px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 660px;
  height: 20px;
  background-image: linear-gradient(#8f4d57, #f5ffe8);
  margin: -2px auto 0;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 480px;
  margin: -374px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 68px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 40px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 960px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  width: 410px;
  height: auto;
  min-height: 800px;
  margin: 50px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  margin: -7px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 24px 30px 0;
}

.u-section-3 .u-btn-1 {
  color: rgb(255, 255, 255);
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 160px;
  width: 480px;
  margin: -930px auto 0 -5px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 960px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  height: auto;
  width: 770px;
  border-style: solid;
  min-height: 940px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 168px;
  height: 168px;
  margin: 24px auto 0 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: 1px;
  margin: -168px 0 0 192px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 1px;
  margin: 19px 192px 0 0;
}

.u-section-3 .u-image-3 {
  width: 168px;
  height: 224px;
  margin: 67px auto 0 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 1px;
  margin: -224px 0 0 192px;
}

.u-section-3 .u-image-4 {
  width: 160px;
  height: 160px;
  margin: -940px auto 0 -85px;
}

.u-section-3 .u-image-5 {
  width: 160px;
  height: 160px;
  margin: 0 auto 0 -85px;
}

.u-section-3 .u-image-6 {
  width: 160px;
  height: 160px;
  margin: 0 auto 0 -85px;
}

.u-section-3 .u-image-7 {
  width: 160px;
  height: 160px;
  margin: 0 auto 0 -85px;
}

.u-section-3 .u-image-8 {
  width: 160px;
  height: 160px;
  margin: 0 auto 0 -85px;
}

.u-section-3 .u-image-9 {
  width: 160px;
  height: 160px;
  margin: 0 auto 0 -85px;
}

.u-section-3 .u-image-10 {
  width: 160px;
  height: 160px;
  margin: -800px -75px 0 auto;
}

.u-section-3 .u-image-11 {
  width: 160px;
  height: 160px;
  margin: 0 -75px 0 auto;
}

.u-section-3 .u-image-12 {
  width: 160px;
  height: 160px;
  margin: 0 -75px 0 auto;
}

.u-section-3 .u-image-13 {
  width: 160px;
  height: 160px;
  margin: 0 -75px 0 auto;
}

.u-section-3 .u-image-14 {
  width: 160px;
  height: 160px;
  margin: 0 -75px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 960px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  width: 410px;
  height: auto;
  min-height: 800px;
  margin: 50px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-3 .u-text-6 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  margin: -6px 17px 0 23px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 24px 17px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-15 {
  width: 160px;
  height: 160px;
  margin: -850px auto 690px -85px;
}

.u-section-3 .u-image-16 {
  width: 480px;
  height: 160px;
  margin: -1040px -5px 880px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 22872px;
  }

  .u-section-3 .u-group-1 {
    width: 27px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 9px;
    width: 27px;
    margin-top: -929px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 47px;
    height: auto;
  }

  .u-section-3 .u-image-2 {
    width: -13px;
    height: -13px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: -13px;
    height: -17px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-image-8 {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-image-9 {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-image-10 {
    width: 47px;
    height: 47px;
    margin-top: -687px;
    margin-right: 0;
  }

  .u-section-3 .u-image-11 {
    width: 47px;
    height: 47px;
    margin-right: 0;
  }

  .u-section-3 .u-image-12 {
    width: 47px;
    height: 47px;
    margin-right: 0;
  }

  .u-section-3 .u-image-13 {
    width: 47px;
    height: 47px;
    margin-right: 0;
  }

  .u-section-3 .u-image-14 {
    width: 47px;
    height: 47px;
    margin-top: 113px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 22872px;
  }

  .u-section-3 .u-group-3 {
    width: 27px;
    height: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-text-7 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-3 .u-image-15 {
    width: 27px;
    height: 27px;
    margin-top: -1162px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 1003px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: -930px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 850px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-15 {
    margin-top: -850px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-16 {
    width: 340px;
    height: 113px;
    margin-right: 0;
  }
}@font-face {
  font-family: 'hzlabfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/hzlabfont.ttf);
}
@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(-40px);
  }
  75% {
      transform: translateY(-20px);
  }
}

@keyframes squish {
  0%, 100% {
      transform: scaleY(1);
  }
  50% {
      transform: scaleY(0.8);
  }
}

.jumping-image {
  animation: jump 1s cubic-bezier(0.5, 0.05, 0.1, 0.95) infinite, squish 1s cubic-bezier(0.5, 0.05, 0.1, 0.95) infinite;
  transform-origin: center bottom;
}
